<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Exemplo Node.JS</title>

</head>
<body>
    <div class = "container">
        <br><br><br>
        <h2>MVC Exemplo Node.JS</h2>
        <br>
        <h4><%= logged %></h4>
    </div>
</body>
</html>